In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
sales_data=pd.read_csv('Sales_Transactions_Dataset_Weekly.csv')

In [4]:
sales_data_norm  = sales_data.iloc[:,55:106] # LSTM training data
week51 = sales_data['Normalized 51'] #Target feature
rows,column = sales_data_norm.shape

In [5]:
sales_data_norm.head()

,Normalized 0,Normalized 1,Normalized 2,Normalized 3,Normalized 4,Normalized 5,Normalized 6,Normalized 7,Normalized 8,Normalized 9,...,Normalized 41,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50
0,0.44,0.50,0.39,0.28,0.56,0.50,0.61,1.00,0.17,0.61,...,0.44,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11
1,0.70,0.60,0.30,0.20,0.70,0.10,0.60,0.30,0.30,0.30,...,0.50,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60
2,0.36,0.73,0.45,0.55,0.64,0.45,0.36,0.91,0.82,0.27,...,0.18,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45
3,0.59,0.35,0.65,0.18,0.41,0.24,0.41,0.65,0.65,0.53,...,0.24,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29
4,0.33,0.13,0.67,0.53,0.20,0.27,0.40,0.73,0.40,0.40,...,0.33,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33

In [9]:
window = 7 # LSTM window size
pred_week51 = np.array([]) # preicted data of week 51

# Building LSTM encoder and prediction of data using Ridge Linear Clssifier
for j in range(rows):
    train=[] # LSTM window size training labels
    labels =[]
    r =sales_data_norm.iloc[j].values 
    lstm_mat=np.asarray([r[i:i+window] for i in range(0, len(r), 1)])
    lstm_mat=lstm_mat[:-(window-1)]
    for i in range(len(lstm_mat)-1):
        train.append(lstm_mat[i][0:window-1])
        labels.append(lstm_mat[i][-1])
    test=[lstm_mat[-1][1:window]]
    #classification
    clf = Ridge(alpha=1.0)
    clf.fit(train,labels)
    prediction = clf.predict(test).flat[0]
    prediction = np.round(prediction,2)
    pred_week51 = np.append(pred_week51,prediction)

pred_week51 = np.where(pred_week51 < 0, 0, pred_week51)

mean_squared_error(week51.values,pred_week51) * 100

13.924993834771888